<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>a</title>
    <link href="~/Content/styles/angular-material.css" rel="stylesheet" />
    <link href="~/Content/styles/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles/Site.css" rel="stylesheet" />

    <script src="~/Scripts/libs/jquery/jquery-3.1.1.js"></script>
    <script src="~/Scripts/libs/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/libs/angular/angular.js"></script>
    <script src="~/Scripts/libs/angular/angular-material.js"></script>
    <script src="~/Scripts/libs/angular/angular-cookies.js"></script>
    <script src="~/Scripts/libs/angular/angular-loader.js"></script>
    <script src="~/Scripts/libs/angular/angular-ui-router.js"></script>
    <script src="~/Scripts/libs/tinymce/tinymce.js"></script>
    <script src="~/Scripts/libs/tinymce/ui-tinymce.js"></script>

    <script src="~/Scripts/app/app.module.js"></script>
    <script src="~/Scripts/app/app.config.js"></script>
    <script src="~/Scripts/app/directives/file.directive.js"></script>
    <script src="~/Scripts/app/controllers/chat.controller.js"></script>
    <script src="~/Scripts/app/controllers/files.controller.js"></script>
    <script src="~/Scripts/app/controllers/index.controller.js"></script>
    <script src="~/Scripts/app/controllers/information.controller.js"></script>
    <script src="~/Scripts/app/controllers/login.controller.js"></script>
    <script src="~/Scripts/app/controllers/welcome.controller.js"></script>
    <script src="~/Scripts/app/services/files.service.js"></script>    
    <script src="~/Scripts/app/services/information.service.js"></script>
    <script src="~/Scripts/app/services/login.service.js"></script>
</head>
<body ng-app="app" ng-controller="indexController as vm">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="welcome" ng-click="vm.selectInformationPage()">Welcome</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href data-toggle="dropdown">
                            Information
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(index, page) in vm.pages">
                                <a ui-sref="information({pageId: {{page.PageId}}})" ng-click="vm.selectInformationPage()">{{page.Name}}</a>
                                <button ng-click="vm.deletePage(page.PageId)" ng-if="vm.UserEmail && vm.isUserAdmin">X</button>
                            </li>
                            <li ng-if="vm.UserEmail && vm.isUserAdmin"><input type="text" ng-model="vm.newPageName" /><button ng-click="vm.createPage()">+</button></li>
                        </ul>
                    </li>
                    <li><a ui-sref="files" ng-if="vm.UserEmail && vm.isUserAdmin">Files</a></li>
                    <li><a ui-sref="chat" ng-if="vm.UserEmail">Chat</a></li>
                    <li><a ng-if="!vm.UserEmail" ui-sref="login">Login</a></li>
                    <li><a ng-if="vm.UserEmail" href ng-click="vm.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">     
        <ui-view></ui-view>
    </div>
</body>
</html>