/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    background-color: transparent;
    color: #fff;
    display:inline-block;
    width: 100%;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > button {
    display:block;
    margin: 5px auto;
    padding:5px 10px;    
}

.navbar-inverse .navbar-nav .dropdown-menu > li > input {
    display: block; 
    width:100%;
    margin: 5px auto;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #c52d2f;
    border-width:0px;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #c52d2f;
    border-width: 0px;
    border-color:transparent;
}